:root {
  --primary-color: #335c87;
  --primary-color-darken: white;
  --primary-hover-color: var(--primary-color-darken);
}
.ant-btn-primary:hover {
  background-color: white !important;
  color: #335c87 !important;
}

.ant-steps-item .ant-steps-item-icon {
  float: right !important;
  margin-inline-end: 16px;
}
.ant-steps-item-title {
  color: #335c87 !important;
}

.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-tail::after {
  background-color: #d84e67;
}
.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
  color: #fff;
}
.ant-steps-item-wait .ant-steps-item-icon {
  color: #d84e67;
}
.ant-steps .ant-steps-item-title {
  color: #335c87;
}

.ant-steps-item-process .ant-steps-item-icon {
  background-color: #d84e67;
  border-color: #d84e67;
}
.ant-steps-item-finish .ant-steps-item-icon {
  color: #ffffff;
  background-color: #d84e67;
  border-color: #d84e67;
}

.ant-tabs-right > .ant-tabs-nav .ant-tabs-tab {
  border-radius: 24px;
  height: 35px;
  color: #335c87 !important;
  box-shadow: 0px 2px 8px 0px #00000014;
  width: 170px;
  height: 35px;
  margin: 0.2rem;
}
.ant-tabs .ant-tabs-tab.ant-tabs-tab-active {
  border: 1.2px solid #d84e67;
  color: #335c87 !important;
  border-radius: 24px;
}
.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #335c87 !important;
}
.ant-tabs-left > .ant-tabs-content-holder {
  border-left: none !important;
}
.ant-tabs-right > .ant-tabs-content-holder {
  border: none;
}
.ant-tabs > .ant-tabs-nav .ant-tabs-nav-list {
  height: 45vh;
  width: 10rem;
  margin-left: 1rem;
  padding-left: .5rem;
  padding-right: 1rem;
  border-left: 0.8px solid rgba(199, 199, 199, 0.36);
}
.ant-tabs-ink-bar {
  border: 0.1px solid white;
}
